@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.button-icon {
  padding: 2px;
  border-radius: 50%;

  &:hover:not(:disabled) {
    background-color: rgb(255, 236, 231);
  }
}
